@page "/Error"
@using System.Diagnostics

<PageTitle>@PageTitle</PageTitle>

<HeadContent>
    <meta name="robots" content="noindex, nofollow" />
</HeadContent>

<h1 class="text-danger">@ErrorTitle</h1>
<h2 class="text-danger">@ErrorMessage</h2>

@if (ShowRequestId)
{
    <p>
        <strong>@RequestIdLabel</strong> <code>@RequestId</code>
    </p>
}

<h3>@DevelopmentModeTitle</h3>
<p>
    @DevelopmentModeDescription
</p>
<p>
    @DevelopmentModeWarning
</p>
